.margin_left{
	margin-left:1%;
}
.padding_height{
	padding-right:0%;
	padding-left:0%;
	height:100%;
}
.padding_bg{
	background-color:#e0e2e5; 
	padding:0px;
}
.form-panel-font{
	font-weight:bold; 
	margin-left:2%; 
	font-size:20px; 
	padding:1% 0% 0% 0%
}
.form-panel-margin{
	margin-left:2%;
}
.form-panel-head{
	font-weight:bold; 
	margin-left:2%; 
	font-size:18px; 
	padding:1% 0%;
}
.form-panel-sub-head{
	margin:2%;
	background-color:#ffffff; 
	padding:1%
}
.form-panel-sub-head-span{
	font-weight:bold; 
	font-size:15px; 
	padding:1% 0%;
}
.table-font{
	font-size:12px;
}
.form-panel-sub-head-span2{
	font-weight:bold; 
	font-size:15px; 
	padding:1% 0%;
}
.padding-1-0{
	padding:1% 0%;
}
.padding-1{
	padding:1%;
}
.padding-1-right{
	padding:1%;
	text-align:right;
}
.hr{
	border-top: 2px solid #e0e1e2;
}
.th-none{
	display:none;
}
.border-bottom-0{
	border-bottom:0px;
}
.form-panel 
{
    background: #ffffff;
    /*margin: 10px;
    padding: 10px; */
    text-align: left;
}
.form-panel-border
{
	border-bottom:2px solid #e0e1e2;
    text-align: left;
	margin:1% 0%;
}
.form-panel-border-sam
{
	border-bottom:2px solid #e0e1e2;
    text-align: left;
	margin:0% 0%;
}
.dataTables_length {
    margin-top: 10px;
    margin-left: 20px;
}
.main-page-container {
    /* padding-right: 15px; */
    padding-left: 0%;
    margin-right: auto;
    margin-left: auto;
}
.test
{
    background-image: url(../images/bg.jpg); 
}
.login-container{
 	 background-image: url(../images/bg.jpg);
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }
.login-container-overlay{
	background-color:#333;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
	background: rgba(0, 0, 0, 0.3);
}
.login-box {
    width: 500px;
    height: 260px;
    text-align: center;
    position: absolute;
    top: 150px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
	background-color:#fff;
	border-radius:15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.icon-event{
	cursor: pointer;
	
}
.text-bold{
	font-weight: bold;
}
.modal-body-min{
	min-height: 300px;
}
.tbl-max{
	max-height: 400px;
}
.tbl-max-dash{
	max-height: 200px;
}
.height_class{
	cursor:pointer;
	color:#FF9821;
}
.min-height600{
	min-height: 600px;
}
.colmd7-cus{
color:white; 
padding:2% 5%;
border-right:1px solid grey;
}
.margin-top1{
    margin-top: 1%;
}
.margin-btm15{
	margin-bottom: 15%;
}
 .usr-cls{
 	color:black; 
 	font-size:12px;
 }
 .pwd-cls{
 	color:black; 
 	font-size:12px;
 }
.fgt-cls{
	color:black; 
	margin:5%;
}
.colmd5-cus{
	color:white; 
	padding:2% 5%;
}
.mgn-bot-24{
	margin-bottom:24%;
}
.divWrap{
    line-height: 1.5em;
    height: 3em;       /* height is 2x line-height, so two lines will display */
    overflow: hidden;  /* prevents extra lines from being visible */
    word-break: break-all;
}
.modal-scroll{
	max-height:500px;
	overflow:auto;
}
.tbl-wrap{
	word-break:break-all;
	width:400px;
}
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}

.spinner-area {
    width: 50px;
    height: 50px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
}
.line:after{
	content:'';
	position:absolute;
	right:0;
	height:100%;
	width:1px;
	background:#333;
	margin:10px 0;
	top:0;
	color:red;
}
.btn-sup {
    color: #fff;
	font-weight:bold;
    background-color: #2867ae;
    border-color: #2867ae;
}
.btn-sup:hover {
    color: #fff;
    font-weight:bold;
    background-color: #024685;
    border-color: #024685;
}
.logo-area 
{
    text-align: center;
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
}
.logo-head
{
    text-align: center;
    position: absolute;
    top: 170px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
	font-size:40px;
	font-weight:weight;
}
.logo-sub-head
{
    text-align: center;
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    color: #fff;
	font-size:20px;
}
.marquee {
    width: 450px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    color: red;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;  /* show the marquee just outside the paragraph */
    animation: marquee 15s linear infinite;
}

.marquee span:hover {
    animation-play-state: paused
}
.example1 {
 height: 50px;  
 overflow: hidden;
 position: relative;
 width: 100%;
}
.example1 div {
 position: absolute;
 width: 10%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);    
 transform:translateX(100%);
 /* Apply animation to this element */  
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);       
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}
.usr-hld{
    text-align:left;
    margin-bottom:2%;
}
.text-bold{
    font-weight: bold;
}

.carousel-inner .active.left { left: -20%; }
.carousel-inner .next        { left:  20%; }
.carousel-control.left,.carousel-control.right {background-image:none;}

.div-block{
    height: 50px;
    width: 100px;
    border-radius: 10px;
    background-color: #fff;
    margin: 1% 1%;
    padding: 12px 2%;
    font-weight: bold;
    color: #2867ae;
}
.div-link{
    height: 20px;
    width: 50px;
    border-radius: 5px;
    background-color: #8a6d3b;
    margin: 2% 3px;
}
