<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-2 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-10 set-hgt padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Medical Drug Supply Chain Integrity
						<span class="pull-right logoutInfo" ng-click="logout();">
							<i class="fa fa-circle" aria-hidden="true"></i>&nbsp;&nbsp;Logout
						</span>
					</div>
					
				</div>
			</div>
			<div class="form-panel-sub-head">
				<div class="page-head">Add Contract</div>
				<form name="AddContract" novalidate="" ng-submit="createContractBtnClick();" class="mt ng-pristine ng-invalid ng-invalid-required">
					<div class="col-md-12">
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product Name
								</label>
								<div class="input-group">
									<select class="form-control textbox-width" ng-model="productName" required  ng-change="getProductDetails(productName);">
										<option value=" ">-Select-</option>
										<option ng-repeat="pname in pdctName track by $index" value="{{pname}}">{{pname}}</option>
									</select>
								</div>
							</div>

							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product ID
								</label>
								<div class="input-group">
									<input ng-model="productID" readonly class="form-control textbox-width" type="text">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Supplier Name
								</label>
								<div class="input-group">
									<select class="form-control textbox-width" required ng-model="supplierName"  ng-change="getSupplierDetails(supplierName);">
										<option value=" ">-Select-</option>
										<option ng-repeat="sname in supName track by $index" value="{{sname}}">{{sname}}</option>
									</select>
								</div>
							</div>	
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Supplier ID
								</label>
								<div class="input-group">
									<input ng-model="supplierID" required readonly class="form-control textbox-width" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						
						
						
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Quantity
								</label>
								<div class="input-group">
									<input ng-model="quantity" ng-change="findTotal()" class="form-control textbox-width" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									UOM
								</label>
								<div class="input-group">
									<select class="form-control textbox-width" ng-model="uom">
										<option value=" ">-Select-</option>
										<option value="each">each</option>
										<option value="case">case</option>
										<option value="package">package</option>
										<option value="kg">kg</option>
										<option value="lbs">lbs</option>
										<option value="oz">oz</option>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Price Per UOM
								</label>
								<div class="input-group">
									<input ng-model="pricePerUOM" readonly class="form-control textbox-width" type="text">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Total Price
								</label>
								<div class="input-group">
									<input ng-model="totalPrice" readonly class="form-control textbox-width" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Supply By Date
								</label>
								<div class="input-group">
									<input class="form-control textbox-width" ng-model="supDate" type="date" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Contract Name
								</label>
								<div class="input-group">
									<input ng-model="contractName" readonly class="form-control textbox-width" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						
						<div class="col-md-12  padding-1">
							<hr class="hr">
							<div class="col-md-12">
								<div class="input-group">
									<button type="submit" class="btn btn-sup" ng-disabled="addContract.$invalid">Create Contract</button>
								</div>
							</div>
						</div>
					</div>
					&nbsp;
				
				
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>


<div class="spinner-overlay" ng-show="displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>