<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-2 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-10 padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Supply Chain Integrity</div>
					<div class="form-panel-margin">Browse,Edit & Monitor</div>
				</div>
				<div class="form-panel-head">Add Contract</div>
			</div>
			<div class="form-panel-sub-head">
				<div class="form-panel-border">
					<div class="col-md-12">
						<div class="col-md-12 padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Contract Name
								</label>
								<div class="input-group">
									<input ng-model="contractName" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Supply By Date
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" ng-model="supDate" type="date" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product ID
								</label>
								<div class="input-group">
									<input ng-model="productID" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product Name
								</label>
								<div class="input-group">
									<input ng-model="productName" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						
						<div class="col-md-12  padding-1">
							<hr class="hr">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Currency
								</label>
								<div class="input-group">
									<select class="form-control" ng-model="currency">
										<option value=" ">-Select-</option>
										<option value="inr">INR</option>
										<option value="dollar">D0llar</option>
									</select>
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									UOM
								</label>
								<div class="input-group">
									<input ng-model="uom" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Quantity
								</label>
								<div class="input-group">
									<input ng-model="quantity" ng-change="findTotal()" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Price Per UOM
								</label>
								<div class="input-group">
									<input ng-model="pricePerUOM" ng-change="findTotal()" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Total Price
								</label>
								<div class="input-group">
									<input ng-model="totalPrice" readonly class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						
						<div class="col-md-12  padding-1">
							<hr class="hr">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Supplier Name
								</label>
								<div class="input-group">
									<input ng-model="supplierName" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>	
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Supplier ID
								</label>
								<div class="input-group">
									<input ng-model="supplierID" class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<div class="input-group">
									<button type="submit" ng-click="createContractBtnClick()" class="btn btn-warning">Create Contract</button>
								</div>
							</div>
						</div>
					</div>
					&nbsp;
				</div>
				
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>