<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-3 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-9 padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Supply Chain Integrity</div>
					<div class="form-panel-margin">Browse,Edit & Monitor</div>
				</div>
				<div class="form-panel-head">Add Contract</div>
			</div>
			<div class="form-panel-sub-head">
				<div class="form-panel-border">
					<div class="col-md-12">
						<div class="col-md-12 padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Contract Name
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Supply By Date
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product ID
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Product Name
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<hr class="hr">
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Currency
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									VOM
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Quantity
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
							<div class="col-md-6">
								<label for="form-field-mask-1">
									Price Per VOM
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Total Price
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
							<div class="col-md-12">
								<label for="form-field-mask-1">
									Supplier
								</label>
								<div class="input-group">
									<input class="form-control input-mask-date" type="text" id="form-field-mask-1">
								</div>
							</div>
						</div>
						<div class="col-md-12  padding-1">
					<div class="col-md-12">
						<div class="input-group">
							<button type="submit" class="btn btn-warning">Create Contract</button>
						</div>
					</div>
				</div>
					</div>
				</div>
				<hr class="hr">
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>