<div class="container-fluid">
	<div class="row" >
		<div class="test" >
			<div class="col-md-12 login-container"  style="min-height:600px;">
				<div class="col-md-7" style="color:white; padding:5%;">
					<div class="well row pt-2x pb-3x bk-light">
						<div class="col-md-8 col-md-offset-2">
							<form name="login" novalidate="" ng-submit="logFun();" class="mt ng-pristine ng-invalid ng-invalid-required">
								<label class="text-uppercase text-sm" style="color:black;">Your Username</label>
								<input type="text" placeholder="Please enter your Username" class="form-control mb ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="uname" ng-model="uname" required="">
								
								<label class="text-uppercase text-sm"  style="color:black;">Password</label>
								<input type="password" placeholder="Password" class="form-control mb ng-pristine ng-untouched ng-empty ng-invalid ng-invalid-required" name="pwd" ng-model="pwd" required="">

								<div>
									<label for="checkbox7" class="text-danger text-center ng-binding">
										
									</label>
								</div>
								<button class="btn btn-primary btn-block" type="submit" ng-disabled="login.$invalid" disabled="disabled">SIGN IN</button>
							</form>
						</div>
					</div>
				</div>
				<div class="col-md-5"  style="color:white;">
					dfsdf
				</div>
			</div>
		</div>
	</div>
</div>