<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-2 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-10 set-hgt padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Medical Drug Supply Chain Integrity</div>
				</div>
				<div class="form-panel-head">Audit Trail</div>
			</div>
			<div class="form-panel-sub-head">
				<!-- <div>
					<div class="col-md-12">
						<div class="col-md-12 padding-1">
							<div class="form-group">
                              <div class="col-sm-4">
									<select class="form-control" ng-model="queyOption" ng-change="queryFunction(queyOption);search=''">
									  <option value="">-select-</option>
									  <option value="contractID">Contract ID</option>
									  <option value="productName">productName</option>
									</select>
                              </div>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control" max-results="10" delay="300" min-length="2" allow-only-results="true" ng-model="search" ng-keyup="complete();" id="tags" placeholder="Search...">
                              </div>
							  <button type="submit" class="btn btn-warning"  ng-disabled="!search" ng-click="queryBtnClick(queyOption,search);">Query</button>
							</div>
						</div>
						
					</div>
				</div> 
				<hr class="hr"> -->
				<div class="table-responsive padding-1 tbl-max-aud">
					<table class="table-font display table table-striped table-hover tbl-rad table-class" cellspacing="0"  style="width:40%;">
						<thead>
								<tr>
									<th>Order ID</th>
									<th>Created Date</th>
									<th>Action</th>
								</tr>
							</thead>
						<tbody>
						<tr ng-repeat="audit in auditResult">
							<td>{{audit.orderID}}</td>
							<td>
								<div id="{{'supDtTm'+audit.orderID}}">
									{{dateTimeFormat(audit.createdDate,audit.orderID);}}
								</div>
							</td>
							<td><span ng-click="toggleModal(audit.orderID)" class="height_class">Audit</span></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<modal visible="showModal">
				<div class="table-responsive padding-1 tbl-max-aud">
					<table class="table-font display table table-striped table-hover tbl-rad" cellspacing="0">
						<thead>
								<tr>
									<th>Contract Name</th>
									<th>Product Name</th>
									<th>Supplier Name</th>
									<th>Quantity</th>
									<th>Batch Id</th>
									<th>Carrier Name</th>
									<th>Tracking Number</th>
									<th>Chain Id</th>
									<th>Height</th>
									<th>Block Hash</th>
									<th>Block Time</th>
								</tr>
							</thead>
						<tbody>
						<tbody>
						<tr ng-repeat="audit in orderDetails">
							<td>{{audit.contractName}}</td>
							<td>{{audit.productName}}</td>
							<td>{{audit.supplierName}}</td>
							<td>{{audit.quantity}}</td>
							<td>{{audit.batchID}}</td>
							<td>{{audit.carrierName}}</td>
							<td>{{audit.trackingNumber}}</td>
							<td>{{audit.chain_id}}</td>
							<td>{{audit.height}}</td>
							<td>{{audit.block_hash}}</td>
							<td>{{audit.block_time}}</td>
						</tr>
						</tbody>
					</table>
				</div>
			</modal>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>
<div class="spinner-overlay" ng-show="displayLoading">
    <div class="spinner-area">
        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
</div>