<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-2 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-10 set-hgt padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Supply Chain Integrity</div>
					<div class="form-panel-margin">Browse,Edit & Monitor</div>
				</div>
				<div class="form-panel-head">Query</div>
			</div>
			<div class="form-panel-sub-head">
				<div>
					<div class="col-md-12">
						<div class="col-md-12 padding-1">
							<div class="form-group">
                              <div class="col-sm-4">
									<select class="form-control" ng-model="queyOption" ng-change="queryFunction(queyOption);search=''">
									  <option value="">-select-</option>
									  <option value="contractID">Contract ID</option>
									  <option value="productName">productName</option>
									</select>
                              </div>
                              <div class="col-sm-4">
                                  <input type="text" class="form-control" max-results="10" delay="300" min-length="2" allow-only-results="true" ng-model="search" ng-keyup="complete();" id="tags" placeholder="Search...">
                              </div>
							  <button type="submit" class="btn btn-warning"  ng-disabled="!search" ng-click="queryBtnClick(queyOption,search);">Query</button>
							</div>
						</div>
						
					</div>
				</div>
				<hr class="hr">
				<div class="table-responsive padding-1 tbl-max">
					<table class="table-font query_tbl display table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" >
						<thead>
							<tr>
								<th class="th-none"></th>
								<th class="text-left">
									<input name="select_all" value="1" type="checkbox">
								</th>
								<th>Contract ID</th>
								<th>Contract Name</th>
								<th>Product ID</th>
								<th>Product Name</th>
								<th>Signed By</th>
								<th>Chain ID</th>
								<th>Height</th>
								<th>Block Time</th>
								<th>Num_txs</th>
								<th>Data Hash</th>
								<th >Block Data</th>
								<th>Block Hash</th>
								
							</tr>
						</thead>
						<tbody>{{audit}}
						<tr ng-repeat="audit in auditResult">
							<td class="th-none"></td>
							<td class="text-left"><input name="select_all" value="1" type="checkbox"></td>
							<td>{{audit.contractID}}</td>
							<td>{{audit.contractName}}</td>
							<td>{{audit.productID}}</td>
							<td>{{audit.productName}}</td>
							<td>{{audit.signedBy}}</td>
							<td>{{audit.chain_id}}</td>
							<td><span ng-click="toggleModal(audit.height)" class="height_class">{{audit.height}}</span></td>
							<td>{{audit.block_time}}</td>
							<td>{{audit.num_txs}}</td>
							<td><div class="tbl-wrap">{{audit.data_hash}}</div></td>
							<td><div class="tbl-wrap"><span ng-mouseover="toggleModalBlock(audit.height)" class="height_class">{{audit.block_data}}</span></div></td>
							<td><div class="tbl-wrap">{{audit.block_hash}}</div></td>
							
						</tr>
						</tbody>
					</table>
				</div>
			</div>
			<modal visible="showModal">
				<div class="col-md-12">
                      <div class="col-md-5 text-bold">Height:</div>
                          <div class="col-md-7">{{insertDet.height}}</div>
              	</div>
              	<div class="col-md-12">
                      <div class="col-md-5 text-bold">Chain Id:</div>
                        <div class="col-md-7">{{insertDet.chain_id}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Block Hash:</div>
                          <div class="col-md-7">{{insertDet.block_hash}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Number of transactions:</div>
                        <div class="col-md-7">{{insertDet.num_txs}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Data Hash:</div>
                          <div class="col-md-7">{{insertDet.data_hash}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Block Data:</div>
                        <div class="col-md-7"><span class="divWrap">{{insertDet.block_data}}</span></div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Block Time:</div>
                          <div class="col-md-7">{{insertDet.time}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Fees:</div>
                          <div class="col-md-7">{{insertDet.fees}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Last Block Hash:</div>
                          <div class="col-md-7">{{insertDet.block_hash}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Last Block Parts:</div>
                          <div class="col-md-7">{{insertDet.last_block_parts}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Last Validation Hash:</div>
                          <div class="col-md-7">{{insertDet.last_validation_hash}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">State Hash:</div>
                          <div class="col-md-7">{{insertDet.state_hash}}</div>
                  </div>
			</modal>
			<modalBlock visibleBlk="showModalBlock">
				<div class="col-md-12">
                      <div class="col-md-5 text-bold">Height:</div>
                          <div class="col-md-7">{{insertDet.height}}</div>
              	</div>
              	<div class="col-md-12">
                      <div class="col-md-5 text-bold">Chain Id:</div>
                        <div class="col-md-7">{{insertDet.chain_id}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Block Hash:</div>
                          <div class="col-md-7">{{insertDet.block_hash}}</div>
                  </div>
                  <div class="col-md-12">
                      <div class="col-md-5 text-bold">Number of transactions:</div>
                        <div class="col-md-7">{{insertDet.num_txs}}</div>
                  </div>
			</modalBlock>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>