<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-2 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-10 set-hgt padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Supply Chain Integrity</div>
					<div class="form-panel-margin">Browse,Edit & Monitor</div>
				</div>
				<div class="form-panel-head">Show Blocks</div>
			</div>
			<div class="form-panel-sub-head">
				<ul class="nav nav-tabs border-bottom-0 tabs">
					<li class="active"><a data-toggle="tab" ng-click="showBlockBtnClick(1);" href="">All Blocks</a></li>
					<li><a data-toggle="tab" ng-click="showBlockBtnClick(2);" href="">Data Blocks</a></li>
				</ul>
				<hr class="hr">
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
						<div class="table-responsive padding-1 tbl-max">
							<table class="table-font display table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" >
								<thead>
									<tr>
										<th>Chain ID</th>
										<th>Height</th>
										<th>Time</th>
										<th>Num.Txs</th>
										<th>Last Validation Hash</th>
										<th>Data Hash</th>
										<th>State Hash</th>
									</tr>
								</thead>
								<tbody>
								<tr ng-repeat="det in allBlocks">
									<td>{{det.chain_id}}</td>
									<td>{{det.height}}</td>
									<td>{{det.time}}</td>
									<td>{{det.num_txs}}</td>
									<td>{{det.last_validation_hash}}</td>
									<td>{{det.data_hash}}</td>
									<td>{{det.state_hash}}</td>
								</tr>
								<tr ng-show="allBlocks.length==0">
									<td colspan="7" class="text-danger">No data available!</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="menu1" class="tab-pane fade">
					  <h3>Menu 1</h3>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>