<div class="container-fluid">
	<div class="row">
	<div class="test margin_left">	
		<div class="col-md-3 padding_height">
			<div ng-include="'views/sideNav.html'"></div>
		</div>
		<div class="col-md-9 padding_bg">
			<div class="form-panel">
				<div class="form-panel-border-sam">
					<div class="form-panel-font">Supply Chain Integrity</div>
					<div class="form-panel-margin">Browse,Edit & Monitor</div>
				</div>
				<div class="form-panel-head">Show Blocks</div>
			</div>
			<div class="form-panel-sub-head">
				<ul class="nav nav-tabs border-bottom-0">
					<li class="active"><a data-toggle="tab" href="">All Blocks</a></li>
					<li><a data-toggle="tab" href="">Data Blocks</a></li>
				</ul>
				<div class="tab-content">
					<div id="home" class="tab-pane fade in active">
						<div class="table-responsive padding-1">
							<table class="table-font display table table-striped table-bordered table-hover dataTable no-footer" cellspacing="0" >
								<thead>
									<tr>
										<th class="text-center">Chain ID</th>
										<th>Height</th>
										<th>Time</th>
										<th>Fees</th>
										<th>Num.Txs</th>
										<th>Last Block Hash</th>
										<th>Last Block Parts Total</th>
										<th>Last Block Parts Hash</th>
										<th>Last Validation Hash</th>
										<th>Data Hash</th>
										<th>State Hash</th>
									</tr>
								</thead>
								<tbody>
								<tr>
									<td>123</td>
									<td>13568</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
									<td>Foo</td>
								</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div id="menu1" class="tab-pane fade">
					  <h3>Menu 1</h3>
					  <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
	</div>
</div>